{% extends 'base.html' %}
{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">Create New Permission</h1>
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <p>
        {{ form.permission.label }}<br>
        {{ form.permission(class="form-control", placeholder="Enter permission name") }}
        {% for error in form.permission.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control", placeholder="Enter permission description") }}<br>
        {% for error in form.description.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('permissionManagement') }}" class="btn btn-secondary">Cancel</a>
      </p>
    </form>
  </div>
{% endblock content %}