{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="mb-3">
        <h1>Permission Assignment for:</h1>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Permission ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if permissions %}
                {% for permission in permissions %}
                <tr>
                    <td>{{ permission.id }}</td>
                    <td>{{ permission.permission }}</td>
                    <td>{{ permission.description }}</td>
                    <td>
                                    </td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="4" class="text-center">No permissions found.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}