{% extends "base.html" %}
{% block content %}
<h1>User Permissions Management</h1>
<table>
    <thead>
        <tr>
            <th>Permission</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for permission in permissions %}
        <tr>
            <td>{{ permission.name }}</td>
            <td>{{ permission.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
                <a href="{% url 'edit_permissions' user.id %}">Edit</a>
                <a href="{% url 'delete_user' user.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}