{% extends "base.html" %}
{% block content %}
<h1>User Permissions Management</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Permission ID</th>
            <th>Permission</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% if permissions %}
            {% for permission in permissions %}
            <tr>
                <td>{{ permission.id }}</td>
                <td>{{ permission.name }}</td>
                <td>{{ permission.description }}</td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">No permissions found.</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock content %}