{% extends "auth/user/layout.html" %}
{% block content %}
    {% include "auth/user/navbar.html" %}
    <div class="container">
        <h1 class="text-center my-3">
            User Change Password
        </h1>
        <div class="row d-flex justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="POST">
                            <div class="my-2">
                                <label for=""><b>Enter your Email</b></label>
                                <input type="email" name="email" id="email" class="form-control my-1">
                            </div>
                            <div class="my-2">
                                <label for=""><b>Enter your New Password</b></label>
                                <input type="password" name="password" id="password" class="form-control my-1">
                            </div>
                            <button type="submit" class="btn btn-success">Change Password</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}