<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body style="background-color:#ccc">
    <div class="container">
        <div class="row main">
            <div class="main-login main-center">
                <h5 class="text-center">Register new user or login existing account</h5>
                <form>

                </form>
            </div>
        </div>
    </div>
</body>
</html>